#sidebar-projects .projectsSidebar {
    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    flex-direction: column;
    /* height: 95vh; */
    overflow: scroll;
}

#sidebar-projects .projectsSidebar .project{
    font-size: smaller;
    background: rgb(20, 57, 91);
    border-radius: 0;
    padding: 10px;
    display: flex;
    padding: 10px;
    min-width: 10px;
    max-width: 100%;
    white-space: nowrap;
    min-height: 12px;
    overflow: hidden;
    padding-left: 8px;
    margin: 0;
}

#sidebar-projects .projectsSidebar .project h2{ 
    text-align: left;
    font-size: 12px;
}

#sidebar-projects .projectsSidebar .project p{
      display: block;
      padding: 0;
      margin: 0;
}

#sidebar-projects .word-tag {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-weight: bold;
  }