#sidebar-projects .projectsSidebar {
    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    flex-direction: column;
    /* height: 95vh; */
    overflow: scroll;
}

#sidebar-projects .projectsSidebar .project{
    position: relative;
    font-size: smaller;
    border-radius: 0;
    padding: 10px;
    display: flex;
    padding: 10px;
    min-width: 10px;
    max-width: 100%;
    white-space: nowrap;
    min-height: 12px;
    overflow: hidden;
    padding-left: 8px;
    margin-bottom: 3px;
    cursor: pointer;
}

/* .tooltip {
    position: absolute;
    top: 0%;
    left: 80%;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
  } */

  
/* .project .active{
    background-color: #f1f1f1;
} */

/* .project:hover, .tooltip {
    z-index: 9999;
    flex-flow: row wrap;
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* visibility: visible;
    opacity: 1; */
  /* } */ 
#sidebar-projects .projectsSidebar .project h2{ 
    text-align: left;
    font-size: 12px;
}

#sidebar-projects .projectsSidebar .project p{
      display: block;
      padding: 0;
      margin: 0;
}

#sidebar-projects .word-tag {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-weight: bold;
  }