.projectsContent{
    overflow: scroll;
    font-family: 'Jet Brains Mono', monospace;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

.projectsContent .project{
    background: var(--sidebar-bg);
    border-radius: 20px;
    padding: 10px;
    min-width: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: scroll;
    margin: 10px;
}

.projectsContent .project h2{ 
    text-align: center;
    /* font-size: 10px; */
}

.projectsContent .project p{
    color: rgb(191, 191, 191);
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: justify;
    padding: 5px;

}

.projectsContent .word-tag {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-weight: bold;
  }